
body {

	font-family: Verdana;
	overflow: hidden;

	background: #000;

}

#app, #app > .icnz-content {

	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

}

#app {

	button {
		position: absolute;
	}

	.icnz-viewport {
		position: absolute;
		left: 0; top: 0;
		width: 100%;
		height: 100%;
	}

}